html,
body {
  background-color: #f4f4f4;
  font-size: 16px;
  font-family: "ff-tisa-web-pro", serif;
  color: #2d2c2d;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  /* equal to footer height */

  margin-bottom: -100px;
}
.wrapper:after {
  content: "";
  display: block;
}
footer,
.wrapper:after {
  /* .push must be the same height as footer */

  height: 100px;
}
table {
  width: 100%;
}
table tr {
  width: 100%;
}
table td {
  border: 1px solid #dbdbdb;
  padding: 10px;
}
textarea {
  width: 100%;
}
.post {
  height: 200px;
  position: relative;
}
.post img {
  margin-top: 5px;
}
#post .logo {
  opacity: 0.4;
  margin-top: 4%;
}
@media (max-width: 1400px) {
  #post .logo {
    margin-top: 2%;
    width: 150px;
    margin-left: -75px;
  }
}
@media (max-width: 1100px) {
  #post .logo {
    margin-top: 1%;
    width: 150px;
    margin-left: -75px;
  }
}
@media (max-width: 900px) {
  #post .logo {
    margin-top: 1%;
    width: 100px;
    margin-left: -50px;
  }
}
@media (max-width: 600px) {
  #post .logo {
    margin-top: 1%;
    width: 75px;
    margin-left: -37.5px;
  }
}
@media (max-width: 500px) {
  #post .logo {
    margin-top: 2%;
    width: 50px;
    margin-left: -25px;
  }
}
#post nav {
  cursor: pointer;
  z-index: 50000;
  background: url("/img/post_nav.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 50px;
  height: 50px;
  position: fixed;
  top: -15px;
  left: 75%;
}
#post .container {
  padding-top: 50px;
}
#post p {
  line-height: 42px;
  font-size: 22px;
}
#post svg {
  right: 50%;
}
#post h5 {
  opacity: 0.6;
}
#post footer p {
  font-size: 16px;
}
.posts li {
  line-height: 31px;
}
.posts p {
  line-height: 24px;
}
.posts span {
  font-size: 14px;
  color: #bababa;
}
.posts .col-md-10 {
  padding-left: 0;
}
header.band {
  background-image: url("/img/post_bg.jpg");
  background-size: 100%;
  color: white;
  text-align: center;
  padding: 10% 0 15% 0;
  z-index: 0;
}
.f-left {
  float: left;
}
.clear {
  clear: both;
}
section h2 {
  color: #33b5cc;
}
h2 {
  margin-top: 0;
}
.f-right {
  float: right;
}
.padding {
  margin-top: 50px;
  margin-bottom: 50px;
}
.picture .sml img {
  /* Styles for the small image */
}
.picture .med img {
  /* Styles for the medium image */
}
.picture .lrg img {
  /* Styles for the large image */
}
.logo {
  position: absolute;
  left: 50%;
  margin-left: -95.5px;
  margin-top: 2%;
  display: block;
}
.container {
  padding-top: 215px;
}
nav {
  width: 100%;
  float: left;
  z-index: 1050;
  position: relative;
  clear: both;
  color: black;
  font-size: 14px;
  font-family: "proxima-nova", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}
nav ul {
  float: left;
  width: 100%;
  top: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
nav ul a {
  color: #2d2c2d;
}
nav ul a:hover {
  color: #3a393a;
}
nav ul li {
  display: inline-block;
  height: 51px;
  list-style-type: none;
  float: left;
  margin: 0;
  width: 12.5%;
  padding: 22px 0 0 0;
  text-align: center;
  vertical-align: middle;
  border-bottom: 4px solid #e7e7e7;
}
nav ul li:hover {
  transition: border-bottom 0.2s ease-in-out;
  border-bottom: 4px solid #c1c1c1;
}
nav ul li menu {
  display: none;
  width: 100%;
  height: 25px;
  background-color: #f4f4f4;
  -webkit-margin-before: 30px;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  margin-before: 30px;
  margin-after: 0;
  margin-left: 0;
}
nav ul li menu li {
  clear: both;
  float: none;
  height: 25px;
  list-style-type: none;
  background-color: #f4f4f4;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ececec;
}
nav ul li menu li {
  border-top: 0px;
}
@media (max-width: 500px) {
  nav {
    cursor: pointer;
    z-index: 50000;
    background: url("/img/post_nav.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50px;
    height: 50px;
    position: fixed;
    top: -15px;
    left: 75%;
  }
  nav ul {
    display: none;
  }
}
.mobile {
  display: none;
  width: 100%;
  top: 0;
  background-color: #545454;
  color: #f4f4f4;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.mobile li {
  border-bottom: 1px solid #757575;
  padding: 20px;
}
.mobile a {
  color: #f4f4f4;
}
.mobile a:last-child li {
  border-bottom: 0px;
}
svg {
  width: 150px;
  height: 150px;
}
p {
  line-height: 31px;
}
p.jumbotron {
  margin-bottom: 15px;
}
.posts {
  padding-left: 2px;
}
.posts li {
  list-style-type: none;
}
.posts p {
  font-size: 16px;
}
.posts {
  margin: 0;
}
footer {
  height: 100px;
  background: #dbdbdb;
  padding-top: 15px;
}
footer .container {
  padding-top: 0;
}
footer p {
  text-align: center;
  margin-left: 0%;
}
.modules img {
  -webkit-filter: grayscale(50%);
  -webkit-transition: -webkit-filter 250ms;
}
.modules img:hover {
  -webkit-filter: grayscale(0%);
}
.col-lg-4 {
  padding-right: 20px;
}
.col-lg-4:first-child {
  padding-left: 0;
}
.col-lg-4:nth-child(2) {
  padding-right: 0;
}
.col-lg-4:last-child {
  padding-right: 0;
}
section img {
  float: left;
  margin-right: 20px;
}
figure {
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
}
figcaption {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 10px 20px;
  opacity: 0;
  width: 100%;
  line-height: 31px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: rgba(255, 255, 255, 0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}
.cap-left:before {
  bottom: 10px;
  left: 10px;
}
.cap-left figcaption {
  bottom: 0;
  left: -30%;
}
.cap-left:hover figcaption {
  left: 0;
}
.cap-right:before {
  bottom: 10px;
  right: 10px;
}
.cap-right figcaption {
  bottom: 0;
  right: -30%;
}
.cap-right:hover figcaption {
  right: 0;
}
.cap-top:before {
  top: 10px;
  left: 10px;
}
.cap-top figcaption {
  left: 0;
  top: -30%;
}
.cap-top:hover figcaption {
  top: 0;
}
.cap-bot:before {
  bottom: 10px;
  left: 10px;
}
.cap-bot figcaption {
  left: 0;
  bottom: -30%;
}
.cap-bot:hover figcaption {
  bottom: 0;
}
/* a href's without hrefs don't seem clickable */
a {
  cursor: pointer;
}
/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
