// Blog Page
// -------------------------

#blog {
  margin-top: 5%;
}

.posts--intro {
  display: none;
}

@media only screen and (min-width : 1224px) {
  .posts--intro {
    display: block;
  }
}

.blog--read-on {
  width: 100%;
  display: block;
  font-family: @sansSerif;
  font-size: @hugeType;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  color: @primary;
}

.posts--blog-title {
  color: lighten(@grayDark, 9%);
  font-weight: 700;
  &:hover {
    text-decoration: none;
  }
}

// Handles the ul of different posts on the page
.posts {
  svg {
    margin-top: 20px;
    height: 100%;
    width: 100%;
    max-width: 80px;
  }
  span {
    font-size: 75%;
    opacity: 0.6;
    text-transform: uppercase;
    font-family: @2sansSerif;
  }
  p {
    line-height: 150%;
  }
  h2 {
    margin-bottom: -2px;
  }
  .col-xs-12 {
    padding: 0;
    clear:both;
  }
  .col-xs-2 {
    padding-left: 0;
  }
}


// Styling for each individual blog entry
.post {
  img {
    margin-top: 5px;
  }
  h2 {
    float: left;
  }
}