/*
 * Navs for MissionFocus.com
 * 
 * Also includes the styles for the header area,
 * Index
 *
 */

 .index--header {
  background-image: url('../img/index--header-desktop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  font-family: @sansSerif;
  position: relative;
}

@media only screen and (min-width : 1224px) {
 .index--header {
    height: 850px;
    background-image: url('../img/index--header-desktop.jpg');
 }
}

.index--company-name {
  color: @grayDarker;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 175%;
  margin-left: (-172/2)*1px;
  -webkit-font-smoothing: antialiased;
}

.fadein(@length) {
  -webkit-animation: fadein @length; /* Safari and Chrome */
       -moz-animation: fadein @length; /* Firefox */
        -ms-animation: fadein @length; /* Internet Explorer */
         -o-animation: fadein @length; /* Opera */
            animation: fadein @length;
}

@media only screen and (min-width : 1224px) {
 .index--company-name {
  top: 44%;
  .fadein(2s);
  color: @grayDarker;
 }
}

.index--tagline {
  font-size: 75%;
  color: @grayDarker;
  -webkit-font-smoothing:antialiased;
  position: absolute;
  margin-left: (-230/2)*1px;
  top: 48%;
  left: 50%;
}

@media only screen and (min-width : 1224px) {
  .index--tagline {
    animation: movedown 1.1s ease;
    -webkit-animation: movedown 1.1s ease;
    top: 415px;
    opacity: 0.5;
    color: @grayDarker;
  }

  @keyframes movedown {
    from { top: 44%; }
    to { top: 46%; }
  }
  @-webkit-keyframes movedown {
    0% { -webkit-transform: translate(0, -15px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0px); opacity: 0.5; }
  }
}

.index--header {
  a {
    color: @grayDarker;;
    &:hover {
      text-decoration: none;
    }
  }
}

.nav--logo {
  position: fixed;
  top: 10px;
  left: 10px;
  background-image: url('../img/nav.png');
  width: 60px;
  height: 60px;
  z-index: 50000;
}

.nav--index-header {
  width: 70%;
  top: 70%;
  position: absolute;
  left: 15%;
}

@media only screen and (min-width : 1224px) {
  .nav--index-header {
    display: none;
  }
}

.nav--index-header-anchors {
  color: @grayDarker;
  opacity: 0.6;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 11px;
  .aliasing;
  font-family: @2sansSerif;

  // Padding/positioning
  border-top: 1px solid @grayDarker;
  display: block;
  padding: 2px;
  width: (100%/3)*1px;
  float: left;
  padding-top: 15px;

  &.active {
    opacity: 1.0;
  }

  // Fixes for text alignments
  &:nth-child(2) {
    text-align: center;
  }
  &:nth-child(3) {
    text-align: right;
  }
}

/* Navs for > tablets ----------- */
@media (min-width : 768px) {
  .index--tagline {
    font-size: 100%;
    margin-left: (-308/2)*1px;
  }

  .nav--index-header {
    width: 50%;
    left: 25%;
  }
}



.subpages--header {
  background-image: url('../img/index--header-desktop.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 400px;
  font-family: @sansSerif;
  position: relative;
}

@media only screen and (min-width : 1224px) {
 .subpages--header {
    height: 400px;
    background-image: url('../img/philosophy--container.jpg');
 }
}

.subpages--company-name {
  color: @grayDarker;
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 175%;
  margin-left: (-172/2)*1px;
  -webkit-font-smoothing: antialiased;
}

.fadein(@length) {
  -webkit-animation: fadein @length; /* Safari and Chrome */
       -moz-animation: fadein @length; /* Firefox */
        -ms-animation: fadein @length; /* Internet Explorer */
         -o-animation: fadein @length; /* Opera */
            animation: fadein @length;
}

@media only screen and (min-width : 1224px) {
 .subpages--company-name {
  top: 44%;
  .fadein(2s);
  color: @white;
 }
}

.subpages--tagline {
  font-size: 75%;
  color: @grayDarker;
  -webkit-font-smoothing:antialiased;
  position: absolute;
  margin-left: (-230/2)*1px;
  top: 48%;
  left: 50%;
}

@media only screen and (min-width : 1224px) {
  .subpages--tagline {
    animation: movedown 1.1s ease;
    -webkit-animation: movedown 1.1s ease;
    top: 205px;
    opacity: 0.5;
    color: @white;
  }

  @keyframes movedown {
    from { top: 44%; }
    to { top: 46%; }
  }
  @-webkit-keyframes movedown {
    0% { -webkit-transform: translate(0, -15px); opacity: 0; }
    100% { -webkit-transform: translate(0, 0px); opacity: 0.5; }
  }
}

.subpages--header {
  a {
    color: @white;
    &:hover {
      text-decoration: none;
    }
  }
}
