body.home {
	height: 100vh;
	background-color: $color-3;//$color-1;//$home-background-color;
	background-color:$color-1;
	background-color:#101010;
	text-align: center;	

	header {
		color: #fff;
		max-width: 60%;
		margin:auto;
		h1 {			
			@include media($mobile) {
				font-size: 2rem;
			}
			@include media($medium) {
				font-size: 3rem;
			}
			@include media($large) {
				font-size: 3rem;
			}
			@include media($xlarge) {
				font-size: 3rem;
			}
		}
		nav {
			ul {
				margin-top: 2em;
				li {
					display: inline;
					a {
						display: inline-block;
						padding: .5em 1em;
						color: #fff;
						&:hover {
							color: $action-color;
						}
					}
				}
			}
		}
		small a {
			color: white;
		}
	}		
	article {
		img { 
			height: 50vh;
			margin-top: 5%;
			margin-bottom: 2%;
			@include media($mobile) {
				height: 150px;
			}
			@include media($medium) {
				height: 320px; 
			}
			@include media($large) {
				height: 320px;
			}
			@include media($xlarge) {
				height: 320px;
			}
		}
	}
	main {
		height: 100vh;
		position: relative;
		#left {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 100%;
			width: 40%;
			z-index: -1;
		}
		#right { 
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 40%;
			z-index: -1;
		}
		#left object, #right object {
			max-height: 100vh;
		}
	}
}

body.white {
		background-color: white;
		header {
			color: $color-1;
		}
	}

	a .icon-ion-arrow-down-a { 
  color:$color-1;
  padding:2px;
  background-color:$color-3;
  border-radius:50%;
 }

 a:hover .icon-ion-arrow-down-a {
  background-color:$color-1;
  color: white;
}