nav.side {
    background-color: $nav-background-color;
    @include media($mobile) {
      @include span-columns(12); 
      @include pad(2rem);
      height: auto; 
      width: 100%;
    }
    @include media($medium) {
      height: 100vh;
      width: rem(280);
      position: fixed;
      left: 0px;
    }
    img {
      width: 105px;
      @include media($mobile) {
        float: left;
        margin: .5rem 0 0 0;
      }
      display: block;
      margin: 4rem auto 0;
    }
    h2.logo {
      font-size: 2em;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin-top: 1rem;
      color: #fff;
      @include media($mobile) {
        //margin-top: .5rem;
        text-align: left;
        margin-left: 40%;
      }
    }
    ul {
      @include media($mobile) {
        text-align: left;
        margin-left: 40%;
        min-width: 50%; 
      }
      @include media($medium) {
        text-align: center;
      }
      @include media($large) {
        text-align: center;
      }
      @include media($xlarge) {
        text-align: center;
      }
      li {
        margin-bottom: .5em;
      }
      li a {
        font-weight: 400;
        color: #fff;
        .active {
          color: $action-color;
        }
        &:hover {
          color: $action-color;
        }
      }
      li {
        @include media($mobile) {
          display: inline;
          margin-right: .5em;
        }
      }
    }
  }

  nav.side ul li a.active {
    color: $action-color;
  }