<div class="dir--logo-parallax"></div>

<div class="about--container container">
  <div class="row col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">
  <div class="about--callout">
    MissionFocus is a development shop that takes domain design and development as seriously as system design.
  </div>
</div>
</div>

<div class="philosophy--container" data-speed="10" data-type="background">
  <div class="philosophy--bodycopy">
     Immense data solutions for the intelligence community. Experts in cloud computing, storage, and source diversity. Creators of the Sign Representation Framework. Code that will <em>change the world</em>. <a href="/about.html">Learn more &raquo;</a>
  </div>
</div>