<div class="container contact--container" data-speed="10" data-type="background">
  <div class="row col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1">

<div id="contact" style="padding: 0; display: {{ include.display }}" data-speed="8" data-type="background">

  <div class="contact--get-in-touch">Get in Touch.</p></div>

    <div class="contact--sub-press">Be it to get in touch about the work at hand, figure out future partnership, or just to say hello: we're all ears. You can <a href="mailto:maeick@missionfocus.com">email us</a> or <a href="https://goo.gl/maps/7Wegk">visit us in Old Town, Alexandria</a>.</div>

</div>

  </div>
</div>