{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">
    <div class="header-bg">
      <div class="container">
        {% include header.html %}
      </div>
    </div>
  </header>
  <div class="container">
    <div id="content">
      <nav role="navigation">
        <ul class="navigation">
          <li><a href="{{ root_url }}/about-us">About Us</a></li>
          <li><a href="{{ root_url }}/contact">Contact</a></li>
        </ul>
      </nav>
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer class="site-footer" role="contentinfo">
    <div class="container">
      {% include footer.html %}
    </div>
  </footer>
  {% include after_footer.html %}
</body>
</html>
