body#contact {

  form {
    @media only screen and (min-width: 720px) {
      width: 65%; 
    }
    margin: 2em auto;
    padding: 3em 5% 2em;
    border: 1px solid #eee;
    @include border-radius(5px);
    @include box-shadow(0 3px 6px -1px rgba(0,0,0,0.25));
    background: #FAFAFA;
    overflow: hidden;
    p {
      overflow: hidden;
      clear: both;
    }

    @media only screen and (min-width: 720px) {
      label {
        float: left;
        width: 20%;
      }
      input[type="text"], textarea {
        float: left;
        width: 80%;
      }
    }
    input[type="submit"] {
      float: right;
    }
  }

}