body#home {
  background: #fff;

  header {
    overflow: hidden;

    .header-bg {
      margin: 75px 0;
      // Commented out from older version of site
      // background: #000;
      text-align: center;
      height: 200px;
      position: relative;
    }

    h1 {
      a {
        display: block;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: -80px;
        width: 306px;
        height: 394px;
        margin-left: -165px;
        @include at2x("logo-missionfocus", ".jpg", 306px, 394px);
        background-repeat: no-repeat;
        text-indent: 100%;
        overflow: hidden;
        white-space: nowrap;
      }
    }

  }

  #content {
    padding-top: 0;
  }

  .intro-file {
    text-align: center;
    .filetype {
      background: $link-color;
    }
    &:hover .filetype {
      background: $link-color-hover;
    }
  }

  .home-where, .home-latest-post {
    float: left;
    width: 48%;
    h2 {
      font-size: 1.1em;
      line-height: 1.25em;
      margin-bottom: 5px;
      color: $text-color;
      &:hover {
        color: $link-color-hover;
      }
    }
  }
  .home-where {
    .thumbnail {
      border: 1px solid #ddd;
      height: 78px;
    }
  }
  .home-latest-post {
    margin-left: 4%;
    .entry-title {
      font-size: 175%;
    }
  }
}