$max-width: 720px !default;
$max-footer-width: $max-width - 40 !default;

// Sidebar widths used in media queries
$sidebar-width-medium: 240px !default;
$sidebar-pad-medium: 15px !default;
$sidebar-pad-wide: 20px !default;
$sidebar-width-wide: 300px !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

html {
  min-height: 100%;
  height: 100%;
}
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}
body {
  position: relative;
  z-index: 1;
  -webkit-text-size-adjust: none;
  .container {
    @media only screen and (max-width: 720px) {
      width: 100%;
      max-width: none;
    }
    @media only screen and (min-width: 720px) {
      max-width: $max-width;
    }
    margin: 0 auto;
    position: relative;
  }
}

#content {
  overflow: hidden;
  padding: 4em 2em 150px;
}


#about {
    @media only screen and (max-width: 360px) {
      img {
        &.f-left, &.f-right {
          float: none;
          margin: 0 auto 1em;
          display: block;
        }
      }
    }
}

.site-footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  .container {
    @media only screen and (max-width: 720px) {
      width: 100%;
      max-width: none;
    }
    @media only screen and (min-width: 720px) {
      width: $max-footer-width;
      padding: 10px 20px;
    }
  }
}

