#blog {
  

  @media only screen and (max-width: 720px) {
    .sidebar {
      padding-top: 6em;
    }
  }
  @media only screen and (min-width: 720px) {
    .main {
      float: left;
      width: 68%;
      padding-top: 10px;
    }
    .sidebar {
      float: left;
      width: 25%;
      margin-left: 3%;
      border-left: 1px solid #eee;
      padding-left: 3%;
    }
  }

  h1 {
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 1.1em;
  }


  article {
    .meta {
      text-transform: uppercase;
      color: #aaa;
      font-size: 11px;
      padding: 0 0 10px 0;
      margin: 0;
    }
    footer {
      clear: both;
      overflow: hidden;
    }
    .categories {
      padding-left: .5em;
    }
  }

  .read-more {
    color: $text-color;
    font-size: .9em;
    &:before {
      font-size: .8em;
    }
    &:hover {
      color: $link-color-hover;
    }
  }

  .blog-index {
    h1 {
      border-bottom: none;
      font-size: 1.5em;
      margin-bottom: 0;
    }
    article {
      padding-bottom: 4em;
      border-bottom: 1px solid #eee;
      margin-bottom: 2em;
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .social-links {
    margin-bottom: 2em;
    p {
      margin: 0 0 5px;
    }
    a {
      display: block;
      height: 18px;
      line-height: 18px;
      &:before {
        width: 24px;
        font-size: 14px;
        text-align: center;
      }
    }
    .icon-appnet {
      padding-left: 20px;
      background: url(../images/icon-appnet.png) 0 2px no-repeat;
    }
  }

  .pagination {
    clear: both;
    text-align: center;
    @media only screen and (max-width: 720px) {
      a {
        float: none;
        display: block;
        padding-bottom: 1em;
      }
    }
  }

  article .pagination {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }

  .posts-list {
    list-style: none;
    margin: 0 0 1em;
    li {
      padding: 2px 0;
      border-bottom: 1px solid #eee;
      h1 {
        border-bottom: none;
        margin: 10px 0 0;
        font-size: 18px;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .posts-archive {

    .archive-year {
      background: $text-color;
      color: #fff;
      font-size: 15px;
      display: inline-block;
      line-height: 1em;
      padding: 5px 10px 3px;
      margin-left: -10px;
    }

    li {
      margin-left: 10px;
    }

  }

}