<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="have-i-been-pwned-verification" value="cc43b7a766bf84d2e1a558ca561e5610">
  
  {{ with .OutputFormats.Get "rss" }}
  <link rel="alternate" type="application/rss+xml" href="{{ .RelPermalink }}" title="RSS Feed">  
  {{ end }}

  <link rel="icon" href="{{ site.BaseURL }}/favicon.ico" type="image/x-icon">
  <!-- Stylesheets -->
  {{ partial "global/styles" . }}

  {{ partial "tnd-seo/tags" . }}
  {{ template "_internal/google_analytics.html" . }}

  {{ with site.Params.typekit_id }}
    <script src="//use.typekit.net/{{ . }}.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  {{ end }}

  <script async defer data-domain="missionfocus.com" src="https://plausible.io/js/plausible.js"></script>
</head>
