{% capture category %}{{ post.categories | size }}{% endcapture %}
<article>
  <h1><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h1>
  <p class="meta">
    <time datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year'>%Y</span>"}}</time>
  {% if category != '0' %}
    <br>
    <span class="meta">posted in {{ post.categories | category_links }}</span>
  {% endif %}
  </p>
</article>