  article.hentry {
    padding: 2em;
    @include media($medium-screen-up) {
    padding-left: 3em;
    padding-right: 3em;
  }
    margin-left:auto;
    margin-right:auto;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
    header {
      margin-bottom: .5em; 
    }
    img {
  	 max-width: 100%;
     margin-top: .75em;
    }

    hr {
      border-color: $base-background-color;
      margin: 2em 0;
    }
    @include media($medium-screen-up) {
  	//padding: 2rem 7em; //- change padding to the screen size
  }
}  

body.two-columns article.hentry {
@include media($medium-screen-up) {
  max-width: 65%;
  }
} 

