body.two-columns {


	main {
		padding-left: rem(280); 
		@include media($mobile) {
			padding-left: 0px;
		}
		header.page {
			text-align: center;
			height: rem(280);
			//background-color: lightgray; //bp removed
			background-image: url('/static/images/Mission-Focus-36-1600x1066.jpg');
			background-size:100%;
			background-repeat: no-repeat;
			// @include pad();
			color: #FFF;
			@include span-columns(12);
				img {
					width: 90px;
					float: left;
					margin-left: 4rem;
				}
				h1 {
					display: inline-block;
					text-align: left;
					font-size: 3rem;
					padding-left: 2rem;
					@include vertical-align(); 
				}
		}
		article {
			// @include span-columns(12);
			// @include pad(); 
			margin: 0 auto;
		}
	}

}