---
layout: home
body_id: home
---
<section class="intro">
  <p>Mission Focus orchestrates technology and operations at a large scale to develop mission focused solutions for today's warfighter. Mission Focus guides the customer toward a view of the problem domain as an Ultra-large Scale (ULS) system. Mission Focus' continued research on "Big Data" solutions makes them experts within the Intelligence Community. Our purpose is to fulfill our customer's missions.</p>
  <p class="intro-file">
    <a href="/downloads/semiotic-apparatus-glossy.pdf">The Semiotic Apparatus at a Glance <span class="filetype">pdf</span></a>
  </p>
</section>

<section>
  <div class="home-where">

    <a href="/about-us">
      <h2>Who we are</h2>
      {% img thumbnail /images/andy-thumbnail.jpg %}
      {% img thumbnail /images/suzi-thumbnail.jpg %}

      <img class="thumbnail" src="http://maps.googleapis.com/maps/api/staticmap?center=Alexandria,+VA&amp;zoom=7&amp;size=145x80&amp;maptype=roadmap&amp;markers=color:orange%7Clabel:none%Alexandria,+VA&amp;sensor=false" >
    </a>
  </div>

  <div class="home-latest-post" id="blog">
    <a href="/blog">
      <h2>From the Blog</h2>
    </a>
    {% for post in site.posts limit: 1 %}
      <article>
        <a href="{{ root_url }}{{ post.url }}" class="entry-title">{{ post.title }}</a>
        <p class="meta">{% include post/date.html %}{{ time }}</p>
      </article>
    {% endfor %}
  </div>
</section>


<div class="alert">
  <strong>We're hiring!</strong> <a href="/jobs/software_engineer.html">Software Engineer in Alexandria, VA</a>
</div>
