---
layout: home
body_id: home
---
<section class="intro">
  <p>Mission Focus orchestrates technology and operations at a large scale to develop mission focused solutions for today's warfighter. Mission Focus guides the customer toward a view of the problem domain as an Ultra-large Scale (ULS) system. Mission Focus' continued research on "Big Data" solutions makes them experts within the Intelligence Community. Our purpose is to fulfill our customer's missions.</p>
  <p class="intro-file">
    <a href="/downloads/semiotic-apparatus-glossy.pdf">The Semiotic Apparatus at a Glance <span class="filetype">pdf</span></a>
  </p>
</section>

{% comment %}
 To make the map thumbnail, using using (static google maps)[https://developers.google.com/maps/documentation/staticmaps/].  
 Am using the (static image generator)[http://gmaps-samples.googlecode.com/svn/trunk/simplewizard/makestaticmap.html]
 Size of the thumbnail below is 145x80
 Make sure you specify sensor=false as the last param, and HTML encode the string
{% endcomment %}

<section>
  <div class="home-where">
    <h2>Who we are</h2>
    <a href="/downloads/semiotic-apparatus-glossy.pdf">{% img thumbnail /images/thing5-thumbnail.png %}</a>
    <a href="http://imintel.org">{% img thumbnail /images/imi-thumbnail.png %}</a>
    <a href="/about-us"><img class="thumbnail" alt="our location" src="http://maps.google.com/maps/api/staticmap?center=38.803865,-77.053299&amp;zoom=13&amp;markers=100+Daingerfield, Suite 400, Alexandria, VA 22314|100+Daingerfield, Suite 400, Alexandria, VA 22314 &amp;size=145x80&amp;sensor=false" ></a>
  </div>

  <div class="home-latest-post" id="blog">
    <a href="/blog">
      <h2>From the Blog</h2>
    </a>
    {% for post in site.posts limit: 1 %}
      <article>
        <a href="{{ root_url }}{{ post.url }}" class="entry-title">{{ post.title }}</a>
        <p class="meta">{% include post/date.html %}{{ time }}</p>
      </article>
    {% endfor %}
  </div>
</section>


<div class="alert">
  <strong>We're hiring!</strong> <a href="/jobs/software_engineer.html">Software Engineer in Alexandria, VA</a>
</div>
